# Model Training Test

Small scale test to train a KNN model

In [13]:
import pandas as pd
import seaborn as sb
import numpy as np
import sklearn as sk
import matplotlib as plt
%matplotlib inline

In [19]:
df = pd.read_csv('Model Training\Test Data\ExpTestData1.csv', )

In [51]:
df.head()

,Timestamp,X,Y,BTN_TOUCH,TOUCH_MAJOR,TOUCH_MINOR,TRACKING_ID,PRESSURE,FINGER,USER
0,0.000000,350,1404,DOWN,11,-420,2526,38,0,0
1,0.032676,348,1406,HELD,11,-420,2526,38,0,0
2,0.042109,347,1408,HELD,11,-420,2526,38,0,0
3,0.049881,344,1411,HELD,11,-420,2526,38,0,0
4,0.058581,340,1416,HELD,11,-420,2526,38,0,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    1998 non-null   float64
 1   X            1998 non-null   int64
 2   Y            1998 non-null   int64
 3   BTN_TOUCH    1991 non-null   object
 4   TOUCH_MAJOR  1998 non-null   int64
 5   TOUCH_MINOR  1998 non-null   int64
 6   TRACKING_ID  1998 non-null   int64
 7   PRESSURE     1998 non-null   int64
 8   FINGER       1998 non-null   int64
 9   USER         1998 non-null   int64
dtypes: float64(1), int64(8), object(1)
memory usage: 156.2+ KB

In [37]:
df.describe()

,Timestamp,X,Y,TOUCH_MAJOR,TOUCH_MINOR,TRACKING_ID,PRESSURE,FINGER,USER
count,1998.000000,1998.000000,1998.000000,1998.000000,1998.0,1.998000e+03,1998.000000,1998.000000,1998.000000
mean,5.923562,390.512012,859.511512,-16.473473,-420.0,1.526241e+09,-4.457457,0.218218,0.500000
std,3.985895,132.756812,641.278529,103.827990,0.0,2.056174e+09,110.695507,0.413140,0.500125
min,0.000000,-420.000000,-420.000000,-420.000000,-420.0,-4.200000e+02,-420.000000,0.000000,0.000000
25%,2.591230,322.000000,266.000000,10.000000,-420.0,2.534000e+03,19.000000,0.000000,0.000000
50%,5.343774,394.000000,670.000000,10.000000,-420.0,3.546000e+03,23.000000,0.000000,0.500000
75%,9.069673,492.000000,1581.750000,11.000000,-420.0,4.294967e+09,27.000000,0.000000,1.000000
max,14.027356,698.000000,1872.000000,11.000000,-420.0,4.294967e+09,40.000000,1.000000,1.000000

# Feature Extraction

Idk if this is feature extraction per say. But BTN_TOUCH needs to be converted to a numerical value

Maybe more of data cleaning...

In [64]:
cat_feats = ['BTN_TOUCH']

In [45]:
final_data = pd.get_dummies(df,columns=cat_feats,drop_first=True)

When we do drop_first=True it gets rid of the column for BTN_TOUCH_DOWN. I think this is so the columns are not perfect predictors of each other.

In [59]:
final_data.head()

,Timestamp,X,Y,TOUCH_MAJOR,TOUCH_MINOR,TRACKING_ID,PRESSURE,FINGER,USER,BTN_TOUCH_HELD,BTN_TOUCH_UP
0,0.000000,350,1404,11,-420,2526,38,0,0,0,0
1,0.032676,348,1406,11,-420,2526,38,0,0,1,0
2,0.042109,347,1408,11,-420,2526,38,0,0,1,0
3,0.049881,344,1411,11,-420,2526,38,0,0,1,0
4,0.058581,340,1416,11,-420,2526,38,0,0,1,0

Does the data need to be scaled? I don't see why it would need to be scaled but the Udemy KNN course example did scale the data

# Real Feature Extraction

# Train Test Split

70:30

In [53]:
X = final_data
y = final_data['USER']

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# Using KNN

In [56]:
from sklearn.neighbors import KNeighborsClassifier

In [57]:
knn = KNeighborsClassifier(n_neighbors=1)

In [63]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

# Predict and Evaluate

In [60]:
pred = knn.predict(X_test)

In [61]:
from sklearn.metrics import classification_report, confusion_matrix

In [62]:
print(confusion_matrix(y_test, pred))

[[287   2]
 [  1 310]]